# Análise Exploratória dos Dados

## Índice

- [Link para retornar ao notebook principal](#retornar-para-notebook-principal---mainipynb)
- [Importando bibliotecas e pacotes](#importando-bibliotecas-e-pacotes)
- [Importando datasets](#importando-datasets)
- [Breve apresentação dos dados](#breve-apresentacao-dos-dados)
- [MeanShift](#meanshift)
- [KMeans](#kmeans)
- [Fuzzy C-Means](#fuzzy-c-means)
- [DBSCAN](#dbscan)

## Retornar para notebook principal - main.ipynb

[Link para notebook principal](./main.ipynb)

## Importando bibliotecas e pacotes

In [1]:
from sklearn.cluster import KMeans, MeanShift, DBSCAN
from matplotlib import pyplot as plt
from fcmeans import FCM
import seaborn as sns
import pandas as pd
import numpy as np

## Importando datasets

In [2]:
df_ureia = pd.read_csv("../databases/processed/ureia_valores_mann_kendall.csv", sep = ",", index_col = "subject_id")
df_creatinina = pd.read_csv("../databases/processed/cretinina_valores_mann_kendall.csv", sep = ",", index_col = "subject_id")

## Breve apresentacao dos dados

### DATASET ureia

In [3]:
df_ureia.head(10)

,Unnamed: 0,tendencia,p,z,Tau,inclinacao,intercepto,gender,dias_ureia_alta
subject_id,,,,,,,,,
10001884,0,0,0.094718,-1.671020,-0.571429,-3.20,39.60,1,0
10004422,1,0,0.171563,1.367198,0.476190,1.75,14.75,1,0
10004733,2,2,0.009809,-2.582485,-0.857143,-2.75,45.25,0,0
10005606,3,1,0.026224,2.222876,0.714286,1.25,6.25,1,0
10010867,4,0,0.272341,1.097688,0.380952,0.50,4.50,0,0
10019777,5,0,0.356441,-0.922168,-0.333333,-1.00,20.00,0,0
10020944,6,2,0.002667,-3.003757,-1.000000,-2.00,28.00,0,0
10023486,7,1,0.002667,3.003757,1.000000,5.25,47.25,1,7
10032381,8,1,0.007680,2.665813,0.857143,3.00,5.00,0,0
10035747,9,0,1.000000,0.000000,-0.047619,0.00,18.00,0,0

In [4]:
df_ureia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3259 entries, 10001884 to 19999442
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3259 non-null   int64
 1   tendencia        3259 non-null   int64
 2   p                3259 non-null   float64
 3   z                3259 non-null   float64
 4   Tau              3259 non-null   float64
 5   inclinacao       3259 non-null   float64
 6   intercepto       3259 non-null   float64
 7   gender           3259 non-null   int64
 8   dias_ureia_alta  3259 non-null   int64
dtypes: float64(5), int64(4)
memory usage: 254.6 KB

### DATASET creatinina

In [5]:
df_creatinina.head(10)

,Unnamed: 0,tendencia,p,z,Tau,inclinacao,intercepto,gender,dias_creatinina_alta
subject_id,,,,,,,,,
10001884,0,2,0.022687,-2.278664,-0.761905,-0.100000,1.200,1,1
10004422,1,0,0.846451,-0.193649,-0.095238,0.000000,0.700,1,0
10004733,2,0,0.124306,-1.536947,-0.523810,-0.200000,4.000,0,7
10005606,3,0,0.180392,-1.339549,-0.428571,-0.025000,0.575,1,0
10010867,4,0,0.340762,-0.952661,-0.333333,-0.040000,0.620,0,0
10019777,5,2,0.031419,-2.151725,-0.714286,-0.100000,1.000,0,0
10020944,6,0,0.525358,0.635107,0.238095,0.025000,1.525,0,7
10023486,7,0,0.094718,-1.671020,-0.571429,-0.200000,3.700,1,7
10032381,8,0,0.211300,-1.250000,-0.285714,0.000000,1.200,0,0
10035747,9,0,0.126370,-1.528574,-0.476190,-0.033333,1.000,0,0

In [6]:
df_creatinina.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3262 entries, 10001884 to 19999442
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            3262 non-null   int64
 1   tendencia             3262 non-null   int64
 2   p                     3262 non-null   float64
 3   z                     3262 non-null   float64
 4   Tau                   3262 non-null   float64
 5   inclinacao            3262 non-null   float64
 6   intercepto            3262 non-null   float64
 7   gender                3262 non-null   int64
 8   dias_creatinina_alta  3262 non-null   int64
dtypes: float64(5), int64(4)
memory usage: 254.8 KB

## Aplicação dos Algoritmos de Agrupamento

### MeanShift

#### DATASET ureia

#### DATASET creatinina

### KMeans

#### DATASET ureia

#### DATASET creatinina

### Fuzzy C-Means

#### DATASET ureia

#### DATASET creatinina

### DBSCAN

#### DATASET ureia

#### DATASET creatinina