# Limpeza e Manutenção dos Dados - DATASETS: ureia.csv e creatinina.csv

## Índice

- [Link para retornar ao notebook principal](#retornar-para-notebook-principal---mainipynb)
- [Importando bibliotecas e pacotes](#importando-bibliotecas-e-pacotes)
- [Importando datasets](#importando-datasets)
- [Breve apresentação dos dados](#breve-apresentacao-dos-dados)
- [Realizando a análise exploratória](#analise-exploratoria-dos-dados)

## Retornar para notebook principal - main.ipynb

[Link para notebook principal](./main.ipynb)

## Importando bibliotecas e pacotes

In [1]:
from utils.alterar_dataset import preencher_dias_faltantes, pivotear_dataset_ureia, pivotear_dataset_creatinina
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## Importando datasets

In [2]:
df_ureia = pd.read_csv("../databases/raw/ureia.csv", sep = ",", index_col = "subject_id")
df_creatinina = pd.read_csv("../databases/raw/creatinina.csv", sep = ",", index_col = "subject_id")

## Breve apresentacao dos dados

### DATASET ureia

In [3]:
df_ureia.head(10)

            day  UreiaMaxDia
subject_id
15158531      1        107.0
15158531      2        100.0
15158531      3         78.0
15158531      4         59.0
15158531     15         59.0
15158531     16         59.0
15158531     17         59.0
15158531     18         64.0
14800685      2          3.0
13697731      3          4.0

In [4]:
df_ureia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42392 entries, 15158531 to 15274195
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          42392 non-null  int64
 1   UreiaMaxDia  42392 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 993.6 KB

### DATASET creatinina

In [5]:
df_creatinina.head(10)

            day  CreatininaMaxDia
subject_id
15158531     15               3.8
15158531     16               3.9
15158531     17               3.9
15158531     18               3.7
13697731     66               0.1
13697731     68               0.1
15796335      5               4.2
15796335      6               5.4
15796335      7               4.2
15796335     12               4.5

In [6]:
df_creatinina.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42383 entries, 15158531 to 12953561
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               42383 non-null  int64
 1   CreatininaMaxDia  42383 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 993.4 KB

## Limpeza

### Retirando todos os dados cujo dia (coluna *day*) é maior que `7`

#### DATASET ureia

In [7]:
df_ureia_dia_menor_7 = df_ureia[df_ureia["day"] < 8]
df_ureia_dia_menor_7["day"].unique()

array([1, 2, 3, 4, 5, 6, 7])

In [8]:
df_ureia_dia_menor_7["day"].value_counts()

day
1    3297
3    3281
2    3277
4    3267
5    3262
6    3242
7    3082
Name: count, dtype: int64

#### DATASET creatinina

In [9]:
df_creatinina_dia_menor_7 = df_creatinina[df_creatinina["day"] < 8]
df_creatinina_dia_menor_7["day"].unique()

array([5, 6, 7, 4, 3, 2, 1])

In [10]:
df_creatinina_dia_menor_7["day"].value_counts()

day
1    3298
3    3282
2    3275
4    3267
5    3262
6    3241
7    3081
Name: count, dtype: int64

### Inserindo novos dias ate que todos os pacientes possuam 7 dias de observacao

#### DATASET ureia

In [11]:
df_ureia_dia_menor_7 = df_ureia_dia_menor_7.reset_index()
df_ureia_processed = preencher_dias_faltantes(df_ureia_dia_menor_7, ["subject_id", "day"], "UreiaMaxDia", 8)
df_ureia_processed = df_ureia_processed.reset_index()
df_ureia_processed.head(14)

    subject_id  day UreiaMaxDia
0     10001884    1        30.0
1     10001884    2         NaN
2     10001884    3        38.0
3     10001884    4        31.0
4     10001884    5        26.0
5     10001884    6        22.0
6     10001884    7        14.0
7     10004422    1        21.0
8     10004422    2        13.0
9     10004422    3        17.0
10    10004422    4        16.0
11    10004422    5        20.0
12    10004422    6        24.0
13    10004422    7         NaN

#### DATASET creatinina

In [12]:
df_creatinina_dia_menor_7 = df_creatinina_dia_menor_7.reset_index()
df_creatinina_processed = preencher_dias_faltantes(df_creatinina_dia_menor_7, ["subject_id", "day"], "CreatininaMaxDia", 8)
df_creatinina_processed = df_creatinina_processed.reset_index()
df_creatinina_processed.head(14)

    subject_id  day CreatininaMaxDia
0     10001884    1              1.1
1     10001884    2              NaN
2     10001884    3              1.3
3     10001884    4              0.9
4     10001884    5              0.8
5     10001884    6              0.6
6     10001884    7              0.5
7     10004422    1              0.7
8     10004422    2              0.7
9     10004422    3              0.7
10    10004422    4              0.6
11    10004422    5              0.6
12    10004422    6              0.7
13    10004422    7              NaN

#### Salvando os datasets processados

In [13]:
df_ureia_processed.to_csv("../databases/processed/ureia_processed.csv", sep = ",")
df_creatinina_processed.to_csv("../databases/processed/creatinina_processed.csv", sep = ",")

### Pivoteando os datasets

#### DATASET ureia

In [14]:
df_ureia_processed = pivotear_dataset_ureia(df_ureia_processed, "subject_id", "day", "UreiaMaxDia")
df_ureia_processed

,ureia_dia_1,ureia_dia_2,ureia_dia_3,ureia_dia_4,ureia_dia_5,ureia_dia_6,ureia_dia_7
subject_id,,,,,,,
10001884,30.0,NaN,38.0,31.0,26.0,22.0,14.0
10004422,21.0,13.0,17.0,16.0,20.0,24.0,NaN
10004733,44.0,41.0,39.0,37.0,28.0,26.0,28.0
10005606,6.0,6.0,10.0,6.0,11.0,NaN,15.0
10010867,8.0,5.0,5.0,5.0,6.0,7.0,9.0
...,...,...,...,...,...,...,...
19990427,45.0,43.0,26.0,21.0,30.0,28.0,27.0
19995595,21.0,17.0,23.0,21.0,23.0,33.0,39.0
19999068,3.0,2.0,2.0,5.0,6.0,6.0,NaN
19999297,7.0,13.0,18.0,24.0,29.0,34.0,40.0
19999442,12.0,16.0,15.0,22.0,19.0,18.0,20.0

#### DATASET creatinina

In [15]:
df_creatinina_processed = pivotear_dataset_creatinina(df_creatinina_processed, "subject_id", "day", "CreatininaMaxDia")
df_creatinina_processed

,creatinina_dia_1,creatinina_dia_2,creatinina_dia_3,creatinina_dia_4,creatinina_dia_5,creatinina_dia_6,creatinina_dia_7
subject_id,,,,,,,
10001884,1.1,NaN,1.3,0.9,0.8,0.6,0.5
10004422,0.7,0.7,0.7,0.6,0.6,0.7,NaN
10004733,3.4,3.8,3.7,3.4,2.6,2.6,2.7
10005606,0.7,0.6,0.5,0.4,0.5,NaN,0.5
10010867,0.7,0.7,0.5,0.3,0.4,0.5,0.5
...,...,...,...,...,...,...,...
19990427,1.7,1.3,0.7,0.5,0.7,0.6,0.6
19995595,1.6,1.1,1.7,1.5,1.4,1.8,1.6
19999068,0.7,0.5,0.7,0.7,0.6,0.7,NaN
19999297,0.6,1.2,2.4,3.2,3.9,4.0,4.4
19999442,0.9,0.6,0.6,0.6,0.8,0.7,0.8

#### Salvando os datasets pivoteados

In [16]:
df_ureia_processed.to_csv("../databases/processed/ureia_pivoted.csv", sep = ",")
df_creatinina_processed.to_csv("../databases/processed/creatinina_pivoted.csv", sep = ",")