# T.C.C.: Comparação de Modelos de Aprendizado de Máquina não Supervisionados

## Índice

- [Importando bibliotecas e pacotes](#importando-as-bibliotecas-e-pacotes)
- [Importando os datasets](#importando-os-datasets)
- [Breve apresentação dos datasets](#breve-apresentação-dos-datasets)
- [Análise Exmploratória dos Dados](#analise-exploratoria-dos-dados)
- [Algoritmo KMeans](#algoritmo-k-means)
- [Algoritmo MeanShift](#algoritmo-meanshift)
- [Algoritmo Fuzzy C Means](#algoritmo-fuzzy-c-means)
- [Algoritmo DBSCAN](#algoritmo-dbscan)
- [Bibliografia](#bibliografia)

- OS INDICES VAO AQUI

## Importando as bibliotecas e pacotes

In [1]:
import pandas as pd
import numpy as np

## Importando os datasets

In [2]:
df_funcao_renal = pd.read_csv("../databases/raw/InputFuncaoRenal.csv", sep = ",", index_col = "subject_id")
df_dieta_grupos = pd.read_csv("../databases/raw/dva_dieta_grupos.csv", sep = ",", index_col = "subject_id")
df_perfil_hepatico = pd.read_csv("../databases/raw/InputPerfilHepatico.csv", sep = ",", index_col = "subject_id")

## Breve apresentação dos datasets

### DATASET Funcao Renal

In [3]:
df_funcao_renal.sample(10)

            high_urea_days  high_creatinine_days
subject_id
19762385                 0                     2
10067480                 0                     0
15952165                 3                     4
12500959                 0                     0
13911200                 0                     2
13126641                 1                     0
19604256                 2                     4
18898692                 4                     4
13632970                 3                     4
11848711                 0                     4

In [4]:
df_funcao_renal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7493 entries, 18135694 to 12767768
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   high_urea_days        7493 non-null   int64
 1   high_creatinine_days  7493 non-null   int64
dtypes: int64(2)
memory usage: 175.6 KB

### DATASET dva Dieta Grupos

In [5]:
df_dieta_grupos.sample(10)

,firstnutrition,noramaxday1,noramaxday2,noramaxday3,noramaxday4,noramaxday5,noramaxday6,noramaxday7,vasoday1,vasoday2,...,vasoday5,vasoday6,vasoday7,kcalkgday1,kcalkgday2,kcalkgday3,kcalkgday4,kcalkgday5,kcalkgday6,kcalkgday7
subject_id,,,,,,,,,,,,,,,,,,,,,
15831124,1,3,3,1,1,1,0,0,1,1,...,0,0,0,5.653,5.481,3.506,2.500,2.049,2.942,11.887
13411956,1,1,1,1,0,0,0,0,0,0,...,0,0,0,3.849,13.861,5.057,0.218,6.626,19.849,12.907
10874300,1,1,0,0,0,0,0,0,1,1,...,1,1,0,14.581,10.721,16.038,24.185,26.976,23.527,23.654
15169534,1,2,1,3,1,0,0,0,1,1,...,0,0,0,21.930,8.245,40.896,25.958,0.000,0.000,0.000
15348534,1,1,1,1,1,1,0,0,0,0,...,0,0,0,4.759,5.399,10.030,16.038,18.994,21.787,17.207
17158562,1,0,0,0,0,0,0,0,0,0,...,0,0,0,18.524,31.637,21.238,17.284,19.630,5.559,12.605
19022436,1,0,0,0,0,0,0,0,0,0,...,0,0,0,9.673,9.236,10.140,19.459,23.645,31.323,4.956
19232176,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1.635,1.487,1.635,1.784,4.460,5.055,4.460
12492737,1,0,0,0,0,0,0,0,0,0,...,0,1,1,5.332,2.688,1.123,2.223,11.634,20.922,23.616
19302008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,3.334,4.045,4.598,8.510,16.695,12.325,12.100

In [6]:
df_dieta_grupos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3316 entries, 12306709 to 12748404
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   firstnutrition  3316 non-null   int64
 1   noramaxday1     3316 non-null   int64
 2   noramaxday2     3316 non-null   int64
 3   noramaxday3     3316 non-null   int64
 4   noramaxday4     3316 non-null   int64
 5   noramaxday5     3316 non-null   int64
 6   noramaxday6     3316 non-null   int64
 7   noramaxday7     3316 non-null   int64
 8   vasoday1        3316 non-null   int64
 9   vasoday2        3316 non-null   int64
 10  vasoday3        3316 non-null   int64
 11  vasoday4        3316 non-null   int64
 12  vasoday5        3316 non-null   int64
 13  vasoday6        3316 non-null   int64
 14  vasoday7        3316 non-null   int64
 15  kcalkgday1      3316 non-null   float64
 16  kcalkgday2      3316 non-null   float64
 17  kcalkgday3      3316 non-null   float64
 18  kcalkgday4      3316 non-null   float64
 19  kcalkgday5      3316 non-null   float64
 20  kcalkgday6      3316 non-null   float64
 21  kcalkgday7      3316 non-null   float64
dtypes: float64(7), int64(15)
memory usage: 595.8 KB

### DATASET Perfil Hepatico

In [7]:
df_perfil_hepatico.sample(10)

,max_alkaline,max_alt,max_ast,high_bilirubins_days,high_triglycerides_days
subject_id,,,,,
10002495,0,1,3,0,0
17057610,2,1,2,0,2
16625425,0,0,1,0,0
15819101,0,0,0,0,0
16449129,0,0,0,0,0
19519120,0,3,3,0,0
17117562,0,2,2,0,0
10821441,0,3,3,0,0
18532425,0,1,3,4,0
18411266,0,0,0,0,0

In [8]:
df_perfil_hepatico.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7493 entries, 18135694 to 12767768
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   max_alkaline             7493 non-null   int64
 1   max_alt                  7493 non-null   int64
 2   max_ast                  7493 non-null   int64
 3   high_bilirubins_days     7493 non-null   int64
 4   high_triglycerides_days  7493 non-null   int64
dtypes: int64(5)
memory usage: 351.2 KB

## Analise Exploratoria dos Dados

[Link para o notebook onde foi realizada a Análise Exploratória dos Dados](./analise_exploratoria.ipynb)

## Algoritmo K-means

[Link para o notebook onde foi utilizado o algoritmo KMeans](./kmeans.ipynb)

## Algoritmo MeanShift

[Link para o notebook onde foi utilizado o algoritmo MeanShift](./meanshift.ipynb)

## Algoritmo Fuzzy C Means

[Link para o notebook onde foi utilizado o algoritmo Fuzzy C Means](./fuzzy_c_means.ipynb)

## Algoritmo DBSCAN

[Link para o notebook onde foi utilizado o algoritmo DBSCAN](./dbscan.ipynb)

## Bibliografia

- A bibliografia vai aqui
- https://github.com/federicocestau/Fuzzy-C-Means-clustering/blob/main/Fuzzy%20C-Means%20Clustering.ipynb